//Variables
$color-light: #ffffff;
$color-medium: #f7f7f7;
$color-lightgrey: #777777;
$color-mediumgrey: #555555;
$color-dark: #222222;
$color-yellow: #fed136;
$font-one: "Montserrat", sans-serif;
$font-three: "Droid Serif", sans-serif;
